* {
    box-sizing: border-box;
}

html,body, #root, .app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1A1B21;
}

.app {
    display: flex;
    flex-direction: column;  
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}


img {
    margin-top: 25px;
    height: 225px;
    width: 225px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.contactSection {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}

.contact-name {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 1.75rem;
    margin-bottom: 0;
}

.contact-job-title {
    color:#F3BF99;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: .75rem;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    
}

.btn {
    margin: 0 0.75rem;
    padding: 12px 40px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
    transform: translateY(-2px);
}

.btn-linkedIn {
    padding: 12px 39.8px;
    background-color: #0077B5;
    color: white;
}

.aboutMe {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
}

.about-me-title {
    text-align: left;
    
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.about-me-text {
    font-size: .9rem;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: left
}

.footer {
    color: white;
    text-align: center;
    width: 100vw;
    margin-top: auto;
    font-size: .8rem;

}


@media (min-width: 768px) {

    .app {
        max-width: 30%;
    }
  
    img {
        height: 300px;
        width: 300px;
        margin-bottom: 25px;

    }

    .contact-name {
        font-size: 3rem;
        margin-top: .75rem;
    }
    
    .contact-job-title {
        font-size: 1.25rem;
    }

    .contact-website-link {
        font-size: 1rem;
    }
    
    .aboutMe {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    .about-me-title {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1.25rem;
        text-align: center;
    }

    .about-me-block p {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        line-height: 1.7;
    }

    .footer {
        margin-bottom: 0;
        
    }
}